<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <header class="main-header">
        <i class="fa-solid fa-bars menu"></i>
        <figure>
            <img class="logo" src="images/logo_oscuro.jpeg" alt="Logo">
        </figure>

        <form action="/buscar" method="get">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input class="input" type="text" id="search" name="buscador" placeholder="Artista, Categoría, Pintura...">
        </form>
        <nav class="nav-bar">
            <ul class="nav-ul">
                <li><a href=""><i class="fa-solid fa-heart"></i></a></li>
                <li><a href=""><i class="fa-solid fa-user"></i></a></li>
                <li><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
    </header>

    <main class="carrito">
        <section class="header-cart">
            <h1>Adquiri tus articulos</h1>
            <div class="back-container">
                <button>Back</button>
            </div>
        </section>
        <section class="productos">
            
            <article class="card">
                <button>trash</button>
                <div>
                    <img src="/images/producto-1.png" alt="Galaxia">
                </div>
                <p>Galaxia</p>
                <div class="abm">
                    <button>-</button>
                    <p class="number">1</p>
                    <button>+</button>
                </div>
                <span class="price">$180000</span>
            </article>
            <article class="card">
                <button>trash</button>
                <div>
                    <img src="https://cdn.discordapp.com/attachments/953869331425534003/1203165879333027860/producto-2.png?ex=65d01a8b&is=65bda58b&hm=f589ed1960397745cfca70352519a7b4167c94afd47c3fb0a25822aad2e328ff&" alt="cuadro horrible 2">
                </div>
                <p>Cuadro sucio pero impecable</p>
                <div class="abm">
                    <button>-</button>
                    <p class="number">1</p>
                    <button>+</button>
                </div>
                <span class="price">$18012312000</span>
            </article>
        </section>
        <section class="compra">
            <article>
                <ul>
                    <li>
                        <p>Producto 1</p>
                        <p>$180.000</p>
                    </li>
                    <li>
                        <p>Producto 2</p>
                        <p>$180.000</p>
                    </li>
                    <li>
                        <p>Producto 3</p>
                        <p>$180.000</p>
                    </li>
                    <li>
                        <p>Total</p>
                        <p>$540.000</p>
                    </li>
                </ul>
        </section>
        <section class="pago">
            <button>Pagar</button>
        </section>
    </main>
    
    <footer >

    
        </footer>
</body>
</html>