
.carrito {
    background-color: bisque;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.carrito .header-cart {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.carrito .header-cart h1{
    width: 80%;
    text-align: center;
}
.carrito .header-cart .back-container{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrito .header-cart .back-container button{
    border: none;
    border-radius: 10px;
    background-color: #8888c9;
    padding: 10px;
    color:#fff;
}

.carrito .header-cart .back-container button:active{
    position: relative;
    top: 1px
}

.carrito .productos{
    width: 100%;
}

.carrito .productos .card{
    width: 80%;
    margin: 10px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.carrito .productos .card .abm{
    display: flex;
    background-color: #ebebeb;
    padding: 10px 20px;
    width: 100px;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0;
    width: 50%;
}
.carrito .productos .card .abm button{
    background-color: white;
    border: none;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 4px;
}
.carrito .productos .card .abm .number{
    background-color: white;
    border: none;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carrito .productos .card .price{
    color: green;
    font-size: 30px;
    text-align: center;
    display: block;
    width: 50%;
}

.carrito .compra{
    width: 100%;
}

.carrito .pago{
    width: 100%;
}

